:root {
  /*  ===============================
      Root Colors
      ===============================   */
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);

  /* ===============================
     Fonts
     ===============================  */

  --ff-primary: "Alata", sans-serif;
  --ff-secondary: "Josefin Sans", sans-serif;
  --fs-fontsize: 1rem;
  --fw-300: 300;
  --fw-400: 400;
}

/* ==============================
   Body
   ==============================  */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-fontsize);
  font-weight: var(--fw-300);
}

/* ==============================
Layout
============================== */

.wrapper {
  max-width: 1440px;
  width: 85%;
  margin-inline: auto;
}

.v-gap {
  margin-top: 5rem;
}
